@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400'); 
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400&family=Dancing+Script:wght@400;500&family=Kanit&family=Space+Mono&family=Teko:wght@300&display=swap');
/* Reset default browser styles */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;

}

/* Make sure the page takes up the full screen */
html, body {
	height: 100%;

}

/* Set default font family and size */
body {
	font-family: sans-serif;
	font-size: 16px;
}

/* Apply box-sizing border-box to all elements */
* {
	box-sizing: border-box;
}

/* Add basic styles to links */
a {
	color: #007bff;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* Hide elements visually but keep them accessible to screen readers */
.visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0,0,0,0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}


/* Set the height of header and footer */
header, footer {
  height: 80px;
  background-color: rgba(0, 0, 0, 0.2);
  background: linear-gradient(120deg, rgb(190, 4, 232) 0%, rgb(139, 4, 236) 50%, rgb(3, 162, 165) 100%);
  color: rgb(34, 33, 33);
  z-index: 100;
  font-family: 'Teko', sans-serif;
  word-spacing: 3%;
  letter-spacing: 2%;
}

/* gradient over main */
header::before, footer::before, #main-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.2); */
}
header {
  top: 0;
  width: 100vw;
  position: sticky;
  font-size: 30px;
  box-shadow: rgb(123, 0, 255) 1px 1px 40px;
  text-transform: lowercase;
  padding-right: 3%;
  z-index: 4000;
}



footer {
  height: 50px !important;
  bottom: 0;
  position: sticky;
  box-shadow: rgb(0, 255, 247, 0.5) 1px 10px 100px;
}


/* Center the header text vertically */
header h1, footer p {
  line-height: 80px;
  text-align: center;
}

/* Style the main section */
main {

  min-height: calc(100vh - 160px); 
  /* padding-top: 40px;
  padding-bottom: 40px; */
  background-color: #060606;
  background: linear-gradient(120deg, rgb(190, 4, 232) 0%, rgb(139, 4, 236) 50%, rgb(3, 162, 165) 100%);
}
/* body {
  background-image: url("./fractals.png");
} */

/* Style the contact form fields */
form input, form select, form textarea {
  margin-bottom: 20px;
}

/* Style the table */
table {
  width: 100%;
  border: 1px solid #ccc;
}

#contact-wrapper {
  background: linear-gradient(120deg, rgb(190, 4, 232) 0%, rgb(139, 4, 236) 50%, rgb(3, 162, 165) 100%);
}

#main-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  width: 90vw;
}
#main-container-div {
  /* border-left: 1px dashed rgba(17, 33, 38, 0.2); */

}


#main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; 
  margin-bottom: 20%;
  margin-top: 5%;

}

#main-container-text {
  position: relative;
  z-index: 100;
  margin-top: 0%;
  /* background-color: rgba(253, 251, 255, 0.1); */
  width: 90vw;
  padding-left: 7%;
  padding-top: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
}

#header-main:hover {
  content: '';
  /* animation: ripple 10s linear; */
}

/* @keyframes ripple {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
} */
.scroll-down-button {
  position: fixed;
  /* height: 80vh; */
  bottom: 10%;
  right: 20px;
  background-color: #1a1a1a;
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: bobbing 1.5s ease-in-out infinite;
  z-index: 100;
  font-family: 'arial', monospace;
  font-size: 15px;
  text-transform: lowercase;
  padding: 20px;
}

.vertical-text {
  writing-mode: vertical-lr;
  /* writing-mode: vertical-lr; */
  margin: 2.5px;
  letter-spacing: 2px;
}

.scroll-down-button:hover {
  background-color: #3a3a3a;
}

@keyframes bobbing {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

@keyframes slide-in {
  0% {
    left: -100vw;
  }
  100% {
    left: 0;
  }
}

#main-container {
  animation: slide-in 1s ease-out forwards;
}

#header-main {
  font-size: 50px;
  text-shadow: 1px 2px 3px rgba(4, 1, 15, 0.9);
  font-weight: 700;
}
h4 {
  font-family: 'Space Mono', monospace;
  font-size: 30px !important;
  text-shadow: 1px 2px 2px black;
  /* border-left: rgba(252, 249, 249, 0.05) 5px solid;
  border-top: rgba(255, 251, 251, 0.1) 5px solid; */
  padding-left: 5%;
  padding-top: 2%;
  margin-left: -5%;
  width: 100%;
  text-shadow: 1px 2px 2px rgba(4, 1, 15, 0.9);
}
#header-minor {
  text-align: right;
  font-size: 30px;
  /* border-bottom: 5px solid rgba(236, 233, 233, 0.2);
  border-right: 5px solid rgba(250, 247, 247, 0.2); */
  padding-right: 5%;
  padding-bottom: 2%;
  /* margin-right: 25%; */
  font-family: 'Teko', sans-serif;
  text-shadow: 1px 2px 2px rgba(4, 1, 15, 0.9);
  letter-spacing: 1px;
}
/* @keyframes slideInFromLeft {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.header-minor {
  animation: slideInFromLeft 1s ease-in-out forwards;
  animation-delay: 0.5s; 
} */

#contact-header {
  font-family: 'Teko', sans-serif;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-size: 100px ;
  font-weight: bold;
  text-transform: uppercase;
}
.social-text {
  font-family: 'Space Mono', monospace;
}
.icon {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  margin-top: 10%;
  margin-right: 5%;
  width: 80px;
  height: 80px;
}
.hidden {
  display: hidden;
}
#icons-wrapper {
  background-color: rgb(255, 254, 254, 0.1);
  text-align: center;
  /* width: 100vw; */
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  flex-direction: row;
  /* justify-content: center;
  align-items: center; */
  /* margin-top: 10%; */
  /* margin-bottom: 10%; */

  padding-bottom: 5%;
  /* margin-right: 5%;
  margin-left: 5%; */
  margin-top: -15%;
  z-index: 100;
  border-radius: 10px;
  width: 90%;
}
/* @keyframes fadeIn {
  from { opacity: 0; transform: translate(0, 20px); }
  to { opacity: 1; transform: translate(0, 0); }
} */



@media screen and (min-width: 1200px) {
  #header-main {
    font-size: 150px;
  }

  #header-minor {
    font-size: 40px;
  }
}
@media screen and (max-width: 1100px) {
  #header-main {
    font-size: 100px;
  }

  #header-minor {
    font-size: 40px;
  }
  h4 {
    width: 100%;
  }
}
@media screen and (min-width: 800px) {
  #header-main {
    font-size: 150px !important;
  }
  #header-minor {
    font-size: 40px;
  }
}

@media screen and (max-width: 600px) {
  #icons-wrapper {
    margin-top: 0%;
  }
  #header-main {
    font-size: 140px;
    cursor: none;
  }
  #header-minor {
    font-size: 30px;
    margin-right: -4%;
    text-shadow: 1px 2px 1px rgba(4, 1, 15, 0.9);
  }
  #main-container {
    position: relative;
    /* height: 200vh;  */
    margin-left: 0%;
    margin-right: 0%;
    /* padding-left: 10%;
    padding-right: 10%; */
    margin-bottom: 0%;
  }
  #main-container-text {
    margin-top: 0%;
 
  }
  .education-item {
    /* margin-left: 20%; */
  }
  h4 {
    font-size: 22px !important;
    text-shadow: 1px 2px 1px rgba(4, 1, 15, 0.9);
    font-weight: bold;
  }
  #main-wrapper {
    margin-top: 0%;
    margin-bottom: 0%;
  }
  .scroll-down-button {
    right: 0;
  }
  .no-bubble{
    left: -5px !important;
    height: 40px !important;
    width: 40px !important;
  }
  .side-contact {
    left: -5px !important;
    height: 40px !important;
    width: 40px !important;
    font-size: 20px !important;
  }
}

@keyframes fadeIn {
  from { opacity: 0; transform: translate(0, 20px); }
  to { opacity: 1; transform: translate(0, 0); }
}


/* about me */

.about-list {
  margin: 20px 0;
}

.about-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.about-list li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.about-list-item-title {
  font-weight: bold;
  margin-right: 10px;
}

.about-list-item-content {

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* font-family: 'Teko', sans-serif; */
  font-size: 20px;
  font-family: 'Space Mono', monospace;
  text-shadow: 1px 1px 1px black;
}
#city {
  font-style: italic;
  font-size: 20px;
}
#about-1 {
  background-color: rgb(255, 255, 255, 0.1);
  padding: 10%;
}
#about-2 {
  background-color: rgb(255, 255, 255, 0.1);
  padding: 10%;
}
#about-3 {
  background-color: rgb(255, 255, 255, 0.1);
  padding: 5%;
}
#selfie {
  border-radius: 50%;
  height: 200px;
  object-fit: cover;
  margin: 20px;
  border: 7px solid rgba(255, 255, 255, 0.7);
  opacity: 0.8;
}

.education-item {
  margin-bottom: 10px;
  /* margin-left: 10%; */
}


.wrapper {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.triangle-canvas {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 100%;
	height: 100%;
	transform: translate(-50%, -50%);
}

.triangle {
	fill: none;
	stroke: #fff;
	stroke-width: 15;
	transform-origin: center center;
	animation: triangle-animation 10s linear infinite;
}
.triangle-1 {
	animation-delay: 0s;
}
.triangle-2 {
	animation-delay: 1s;
}
.triangle-3 {
	animation-delay: 2s;
}
.triangle-4 {
	animation-delay: 3s;
}
.triangle-5 {
	animation-delay: 4s;
}
.triangle-6 {
	animation-delay: 5s;
}
.triangle-7 {
	animation-delay: 6s;
}
.triangle-8 {
	animation-delay: 7s;
}
.triangle-9 {
	animation-delay: 8s;
}
.triangle-10 {
	animation-delay: 9s;
}


@keyframes triangle-animation{
	0%{
		transform: scale(0) rotate(0deg);
		opacity: 1;
	}
	
	100%{
		transform: scale(3) rotate(45deg);
		opacity: 0;
	}
}


.board {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0%;
  width: 100%;
  height: 210vh;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.square {
  color: red;
  height: 50%;
  width: 100%;
  background: linear-gradient(220deg, rgb(190, 4, 232, 0.2) 0%, rgb(139, 4, 236, 0) 50%, rgb(3, 162, 165, 0.2) 100%);
  animation-delay: 1s;
  margin-left: 5px;
}
.nav-link {
  font-size: 40px !important;
}

#side-nav-list {
  display: flex;
  align-items: left;
  flex-direction: column;
  border-top:rgb(6, 6, 246, 0.2) 2px solid;
  border-bottom: rgb(6, 6, 246, 0.1) 2px solid;
  background-color: rgba(10, 135, 198, 0.2);
  width: 100%;
  height: 100vh;
}
#side-nav-item {
  list-style: none;
  padding-bottom: 5%;
  padding-top: 5%;
  font-family: 'Teko', sans-serif;
  font-size: 40px;
  border-bottom: rgba(84, 8, 226, 0.1) 2px solid;
  /* text-align: center; */
}
#side-nav-item:hover {
  /* border-top: rgba(84, 8, 226, 0.3) 2px solid; */
  border-bottom: rgba(84, 8, 226, 0.3) 2px solid;
  cursor: pointer;
}

.about-container {
  position: relative;
  top: 0;
  height: 100vh;
}
li {
  list-style: none;
}
#header-about {
  font-size: 120px;
  text-shadow: rgb(78, 20, 78, 0.2) 1px 1px 1px;
  font-weight: 700;
  padding-right: 10%;
  padding-left: 2%;
  /* margin-left: -2%; */
}
#header-about-list {
  font-size: 90px;
  text-shadow: rgb(78, 20, 78, 0.2) 1px 1px 1px;
  font-weight: 700;
  padding-right: 10%;
  padding-top: 10%;
  font-family: Arial, Helvetica, sans-serif;
}
#header-about-list-skill {
  font-size: 90px;
  text-shadow: rgb(78, 20, 78, 0.2) 1px 1px 1px;
  font-weight: 700;
  padding-right: 10%;
  padding-top: 10%;
  font-family: Arial, Helvetica, sans-serif;
}

#rendered-about{

}
#rendered-side-nav {
  height: 100vh;
}

#skill {
  background-color: rgb(255, 255, 255, 0.2);
  font-size: 25px;
  margin: 2%;
  padding: 5%;
}
#skill:nth-child(odd) {
  text-align: left;
}
#skill:nth-child(even) {
  text-align: right;
}
#language {
  background-color: rgb(255, 255, 255, 0.2);
  font-size: 35px;
  font-family: 'Space Mono', monospace;
  text-shadow: rgb(0, 0, 0, 0.8) 1px 1px 1px;
  /* margin-left: -20%; */
  /* margin-right: -40%; */
  margin-bottom: 2%;
  padding: 10%;
}
#title {
  /* font-family: 'Teko', sans-serif; */
  font-size: 25px;
  font-family: 'Space Mono', monospace;
  text-shadow: rgb(0, 0, 0, 0.8) 1px 1px 1px;
}
#language:nth-child(odd) {
  text-align: left;
}
#language:nth-child(even) {
  text-align: right;
}





/* Responsive styles for screens smaller than 768px */
@media screen and (max-width: 767px) {
  #title {
    font-size: 15px;
  }
  .education-item{
    width: 100%;
  }
  .square {
    /* height: 150px;
    width: 150px; */
  }
  .board {
    /* position: absolute;
    bottom: 0px; */
  }
  .about-list-item-content {
    font-size: 15px;
  }
  #city{
    font-size: 15px;
  }
  #header-about {
    font-size: 70px;
    /* padding-right: 10%; */

    /* margin-right: -30%; */
  }
  #about-1 {
    /* margin-left: -20%; */
    /* margin-right: -40%; */
  }
  #about-2 {
    /* margin-left: -20%; */
    /* margin-right: -40%; */
  }
  #about-3 {
    /* margin-left: -20%;
    margin-right: -40%; */
  }
  #skill {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    margin-left: -10%;
    /* margin-right: -40%; */
    font-size: 15px;
  }
  #language {
    font-size: 15px;
    font-weight: bold;
  }
  #side-nav-item {
    font-size: 30px;
  }
  #header-about-list {
    font-size: 55px;
    padding-right: 0%;
    margin-top: 15%;
    margin-left: -5%;
    padding-left: 10%;
    margin-bottom: 15%;
    padding-right:15%;
    overflow-wrap: break-word;
    border-top: 5px solid rgb(247, 239, 239, 0.2);
    border-right: 5px solid rgb(247, 239, 239, 0.2);
  
    /* margin-right: -30%; */
  }
  #header-about-list-skill {
    font-size: 80px;
    padding-right: 0%;
    padding-top: 15%;
  
    /* margin-right: -30%; */
  }
  #side-nav-list {
    height: 100vh;
  }
}

.square:nth-child(odd) {

  background: linear-gradient(120deg, rgb(190, 4, 232, 0.5) 0%, rgb(139, 4, 236, 0.2) 50%, rgb(3, 162, 165, 0.6) 100%);
  /* z-index: 1; */
  position: relative;
}
.square:nth-child(5n + 1) {
  animation: rotate linear 15s infinite;

}
.square:nth-child(5n + 2) {
  animation: rotate linear 5s infinite;
  animation-delay: 0.25s;
  margin-bottom: 10%;
}
.square:nth-child(5n + 3) {
  animation: rotate linear 5s infinite;
  animation-delay: 0.5s;
}
.square:nth-child(5n + 4) {
  animation: rotate linear 5s infinite;
  animation-delay: 0.75s;
}
.square:nth-child(5n + 5) {
  animation: rotate linear 5s infinite;
  animation-delay: 1s;
}

@keyframes rotate {
  0% {
    transform: translateY(100%) translateX(50%) skewX(120deg);
  }
  50% {
    transform: translateY(50%) translateX(25%) skewX(180deg);
  }
  75% {
    transform: translateY(60%) translateX(75%) skewX(270deg);
  }
  100% {
    transform: translateY(100%) translateX(50%);
  }
}


/* */
.slide-navbar {
  position: fixed;
  top: 0;
  right: 0;
  background-color: white;
  width: 250px; /* You can adjust the width as needed */
  height: 100%;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

/* .slide-navbar.collapsing,
.slide-navbar.show {
  transform: translateX(0);
} */


/* Style the links */
.slide-navbar .nav-link {
  display: block;
  padding: 0.5rem 1rem;
}

/* Add some padding between the links and the top of the screen */
.slide-navbar .nav-item:first-child .nav-link {
  padding-top: 1rem;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-item {
  margin: 0 5px;
}

@media (min-width: 767px) {
  .navbar-nav {
    flex-direction: row !important;
  }

  .nav-item {
    margin-right: 5px !important;
  }
}


.offcanvas-navbar {
  top: 0;
  width: 80%;
  height: 100vh;
  background-color: white;
}
.sidebar-menu {
  font-family: 'teko', sans-serif;
}
.iframe-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
  overflow: hidden;
}

.website-preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 400%;
  border: 0;
  transform: scale(0.25); /* Adjust the scale value to fit the desired size */
  transform-origin: 0 0;
}


#image-preview {
  /* object-fit: cover; */
  /* width: 500px;
  height: 500px; */
} 

.slide-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.slide-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity var(--transition-duration), transform var(--transition-duration);
}

.slide-exit {
  opacity: 1;
  transform: translateX(0);
}

.slide-exit-active {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity var(--transition-duration), transform var(--transition-duration);
}

#change-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

#change-row button {
  background-color: #fff;
  border: none;
  margin: 0 5px;
  font-size: 16px;
  padding: 10px 15px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#change-row button.active {
  background-color: #007bff !important;
  color: #fff;
}

.logo-link {
  display: inline-block;
  width: 60%;
  margin-left: 20%;
}

.logo-image {
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.logo-link:hover .logo-image {
  transform: scale(1.1);
  animation: increase-shadow 0.5s forwards;
}

@keyframes increase-shadow {
  0% {
    box-shadow: 1px 2px 10px rgba(255, 255, 255, 0.2);
  }
  100% {
    box-shadow: 1px 2px 20px rgba(255, 255, 255, 0.4);
  }
}
#portfolio-header{
  font-family: 'teko', sans-serif;
  font-size: 300%;
}

.carousel-fade-in {
  opacity: 0;
  transition: opacity 1s;

  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-fade-in.visible {
  opacity: 1;
}

.button-container {
  position: fixed;
  top: 30%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.side-contact{
  position: relative;
  left: -40px;
  background-color: rgba(198, 195, 195, 0.2);
  color: #1b1a1a;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: bobbing 1.5s ease-in-out infinite;
  z-index: 200;
  font-family: 'arial', monospace;
  text-transform: lowercase;
  width: 50px;
  height: 50px;
  box-shadow: 1px 2px 10px rgb(54, 53, 53, 0.5);
  font-size: 27px;
}
.side-contact:hover, .no-bubble:hover {
  box-shadow: 1px 1px 15px rgba(233, 228, 228, 0.5);
  border: 1px solid rgb(255, 255, 255, 0.5);
}
.no-bubble {
  position: relative;
  left: -40px;
  background-color: rgba(198, 195, 195, 0.2);
  color: #ffffff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: bobbing 1.5s ease-in-out infinite;
  z-index: 100;
  font-family: 'arial', monospace;
  text-transform: lowercase;
  width: 48px;
  height: 48px;
  box-shadow: 1px 2px 10px rgb(54, 53, 53, 0.5);
}

@keyframes sideFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
