@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400'); 


/* Reset default browser styles */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* Make sure the page takes up the full screen */
html, body {
	height: 100%;
}

/* Set default font family and size */
body {
	font-family: sans-serif;
	font-size: 16px;
}

/* Apply box-sizing border-box to all elements */
* {
	box-sizing: border-box;
}

/* Add basic styles to links */
a {
	color: #007bff;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* Hide elements visually but keep them accessible to screen readers */
.visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0,0,0,0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}


/* Set the height of header and footer */
header, footer {
  height: 80px;
  background-color: rgba(0, 0, 0, 0.2);
  background: linear-gradient(120deg, rgb(190, 4, 232) 0%, rgb(139, 4, 236) 50%, rgb(3, 162, 165) 100%);
  color: rgb(34, 33, 33);
  position: relative;
}

header::before, footer::before, #main-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}


/* Center the header text vertically */
header h1, footer p {
  line-height: 80px;
  text-align: center;
}

/* Style the main section */
main {
  min-height: calc(100vh - 160px); 
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #060606;
  background: linear-gradient(120deg, rgb(190, 4, 232) 0%, rgb(139, 4, 236) 50%, rgb(3, 162, 165) 100%);
}

/* Style the contact form fields */
form input, form select, form textarea {
  margin-bottom: 20px;
}

/* Style the table */
table {
  width: 100%;
  border: 1px solid #ccc;
}

#main-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  height: 70vh; 
  margin-left: 20%;
  margin-right: 20%;
  padding-left: 10%;
  padding-right: 20%;
  padding-top: 5%;
  padding-bottom: 5%;
  /* background-color: rgba(178, 178, 194, 0.2); */
  box-shadow: #9d00ff 1px 1px 1px;
  left: -100vw;
}

@keyframes slide-in {
  0% {
    left: -100vw;
  }
  100% {
    left: 0;
  }
}

#main-container {
  animation: slide-in 1s ease-out forwards;
}

#header-main {
  font-size: 50px;
  text-shadow: #007bff 1px 1px 1px;
}
#header-minor {
  font-size: 20px;
}

@media screen and (min-width: 1200px) {
  #header-main {
    font-size: 90px;
  }

  #header-minor {
    font-size: 40px;
  }
}
@media screen and (max-width: 1100px) {
  #header-main {
    font-size: 60px;
  }

  #header-minor {
    font-size: 30px;
  }
}

@media screen and (max-width: 600px) {
  #header-main {
    font-size: 50px;
  }

  #header-minor {
    font-size: 25px;
  }
  #main-container {
    
    height: 50vh; 
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 10%;
    padding-right: 10%;

  }
}

/* about me */

.about-list {
  margin: 20px 0;
}

.about-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.about-list li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.about-list-item-title {
  font-weight: bold;
  margin-right: 10px;
}

.about-list-item-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.education-item {
  margin-bottom: 10px;
}




/* body{ 
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  margin: 0;
  background: #131313;
  color: #fff;
  font-size: 96px;
  font-family: 'Fira Mono', monospace;
  letter-spacing: -7px;
} */

/* h1{
  animation: glitch 1s linear infinite;
}

@keyframes glitch{
  2%,64%{
    transform: translate(2px,0) skew(0deg);
  }
  4%,60%{
    transform: translate(-2px,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg); 
  }
}

h1:before,
h1:after{
  content: attr(title);
  position: absolute;
  left: 0;
}

h1:before{
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop{
  2%,64%{
    transform: translate(2px,-2px);
  }
  4%,60%{
    transform: translate(-2px,2px);
  }
  62%{
    transform: translate(13px,-1px) skew(-13deg); 
  }
}

h1:after{
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom{
  2%,64%{
    transform: translate(-2px,0);
  }
  4%,60%{
    transform: translate(-2px,0);
  }
  62%{
    transform: translate(-22px,5px) skew(21deg); 
  }
} */

.wrapper {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.triangle-canvas {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 100%;
	height: 100%;
	transform: translate(-50%, -50%);
}

.triangle {
	fill: none;
	stroke: #fff;
	stroke-width: 15;
	transform-origin: center center;
	animation: triangle-animation 10s linear infinite;
}
.triangle-1 {
	animation-delay: 0s;
}
.triangle-2 {
	animation-delay: 1s;
}
.triangle-3 {
	animation-delay: 2s;
}
.triangle-4 {
	animation-delay: 3s;
}
.triangle-5 {
	animation-delay: 4s;
}
.triangle-6 {
	animation-delay: 5s;
}
.triangle-7 {
	animation-delay: 6s;
}
.triangle-8 {
	animation-delay: 7s;
}
.triangle-9 {
	animation-delay: 8s;
}
.triangle-10 {
	animation-delay: 9s;
}


@keyframes triangle-animation{
	0%{
		transform: scale(0) rotate(0deg);
		opacity: 1;
	}
	
	100%{
		transform: scale(3) rotate(45deg);
		opacity: 0;
	}
}

